{% extends 'base.html' %}

{% block title %} Accounts Homepage{% endblock title %}

{% block content%}
{% if user.is_authenticated %}
    <h2>Hello {{ user.username}}!</h2>    
    <h6>Welcome!</h6>
    <form action="" class="form-inline ml-auto">
        <a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a>
        <a class="btn btn-primary" href="{% url 'account_update' request.user.pk %}">Update Account</a>
        <a class="btn btn-primary" href="{% url 'account_delete' request.user.pk %}">Delete Account</a>
        <a class="btn btn-primary" href="#">Change Password</a>        
    </form>
{% else %}
    <h1>Welcome!</h1>
    <h2>You need to log in to gain access to our page.</h2>
{% endif %}

{% endblock content%}
